---
extends: default
ignore: |
  .venv/
  public/
  www/
  .cache/
  node_modules/
rules:
  line-length:
    max: 160
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
  comments:
    min-spaces-from-content: 1
